html
    head
        meta(charset="UTF-8")
        title Invoice
    body
        h1 Invoice
        p Customer Name: #{customerName}
        p Total Amount: $#{amount}
        ul 
        each productId in products
            li= "Product ID: " + productId

    style.
        p {
            background-color: red;
        }
