html
    head
        meta(charset="UTF-8")
        title Invoice
    body
        h1 Invoice
        p Customer Name: #{customerName}
        p Total Amount: $#{amount}

    style.
        p {
            background-color: red;
        }
